/* stylelint-disable custom-property-pattern */

@font-face { font-family: Rubik; src: url("Rubik-VariableFont_wght.ttf"); font-display: swap; }

body {
  font-family: Rubik, sans-serif;
  --mainColor: #014d8a;
  --mainColorLighter: #0159a0;
  --mainColorLightest: #1e6cab;
  --mainHoverColor: #013d6e;
  --mainBackgroundColor: #1e1e1e;
  --mainForegroundColor: #f7f7f7;
  --menuBackgroundColor: #151515;
  --mainBackgroundHoverColor: #333;
  --submenuBackgroundColor: #262626;
  --inputForegroundColor: #f7f7f7;
  --inputBackgroundColor: #2e2e2e;
  --inputPlaceholderColor: #f7f7f7;
  --textareaForegroundColor: #f7f7f7;
  --textareaBackgroundColor: #2e2e2e;
  --markdownTextareaBackgroundColor: #2e2e2e;
  --greyForegroundColor: #888;
  --greyBackgroundColor: #262626;
  --greySecondaryBackgroundColor: #363636;
  --actionButtonColor: #888;
  --activatedActionButtonColor: #f7f7f7;
  --channelBackgroundColor: #262626;

  /* Compat with PeerTube < 3.2 */
  --submenuColor: #262626;
}

.icon-logo {
  min-width: 29px;
  min-height: 29px;
  background-color: #fff;
  background-origin: content-box;
  border-radius: 20px;
  padding: 3px 4px 3px 8px;
}

.logged-in-block {
  background-color: #00000052 !important;
}

.card {
  border-color: var(--submenuBackgroundColor);
  box-shadow:
    0 0 calc((var(--elevation) * 0.225px) + 2px)
    rgba(0, 0, 0, calc(0.11 * (2 - var(--background-luminance, 1)))),
    0 calc(var(--elevation) * 0.4px) calc((var(--elevation) * 0.9px))
    rgba(0, 0, 0, calc(0.13 * (2 - var(--background-luminance, 1))));
}

.alert-info {
  background-color: #bee5eb;
}
